@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');
        body{
            margin:0;
            padding: 0;
            background-color: rgb(75, 75, 75);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            color:white;
            font-size: 50px;
            font-family: 'Raleway';
            font-weight: 700;
        }
        div, section{
            
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: rgb(47, 47, 47);
            
            font-family: 'Raleway';
            font-size: 20px;
        }
        #tab{
            background-color: rgb(255, 224, 224);
            border-radius: 25px;
            padding: 30px;
            width: 60%;
        }
        .inp{
            padding:10px;
        }
        div label{
            padding-bottom: 7px;
        }
        div input{
            border: none;
            background-color: rgb(255, 255, 255);
            height: 20px;
            border-radius: 10px;
            padding-left: 13px;
        }
        section button{
            background-color: rgb(5, 176, 255);
            color: white;
            border: none;
            height: 30px;
            width: 140px;
            border-radius: 13px;
            box-shadow: 4px 3px 2px rgba(49, 131, 246, 0.3)
        }
        section button:hover{
            background-color: rgb(48, 190, 255);
            cursor: pointer;
        }